<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >
  <title>Edit Map</title>

  <!-- External CSS (Bootstrap, fonts, symbols) -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
  integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
  crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- App CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/map.css" />


  <!-- App JS -->
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <script defer src="/scripts/see_locations.js"></script>
</head>

<body>
  <header>
    <%- include('partials/_header.ejs') %>
  </header>

  <h3 class="page-title">Edit Map Locations</h3>

  <div class="map-info">
    <h4><%= map_title %></h4>
    <!-- Use data attributes to store map center_lat and center_long values -->
    <div id="map-data" data-center-lat="<%= center_lat %>" data-center-long="<%= center_long %>"></div>
  </div>

  <div id="map-view">
    <!-- container where the map will render -->
  </div>
  <div id="see-location-button">
    <button type="button" class="btn btn-primary">See Locations</button>
  </div>

  <script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
  ({key: "AIzaSyAkQ6muGymcHGhzEpupVdlcjZ9OXMfMuTg", v: "weekly"});
  </script>

  <script>
    const mapDataElement = document.getElementById('map-data'); //see line 42 for reference
    const centerLat = mapDataElement.getAttribute('data-center-lat');
    const centerLong = mapDataElement.getAttribute('data-center-long');
    
    let map;

    async function initMap() {
      const { Map } = await google.maps.importLibrary("maps");
      map = new Map(document.getElementById("map-view"), {
        center: { lat: parseFloat(centerLat), lng: parseFloat(centerLong) },
        zoom: 11,
      });
    }
    initMap();
  </script>

  <p></p>
  <div class="new-location-container">
    <form id="new-location-form">
      <h3 class="page-title">Add New Locations</h3>
      <div class="form-group">
        <label for="location-title">Location Title</label>
        <input type="text" class="form-control" id="location-title" name="location-title" required>
      </div>
    
      <div class="form-group">
        <label for="location-description">Location Description</label>
        <textarea type="text" class="form-control" id="location-description" name="location-description" rows="3"></textarea>
      </div>
    
      <div class="form-group">
        <label for="location-latitude">Latitude</label>
        <input type="text" class="form-control" id="location-latitude" name="location-latitude" required>
      </div>
    
      <div class="form-group">
        <label for="location-longitude">Longitude</label>
        <input type="text" class="form-control" id="location-longitude" name="location-longitude" required>
      </div>
    
      <div class="form-group">
        <label for="location-image">Image Url</label>
        <input type="text" class="form-control" id="location-image" name="location-image">
      </div>
    
      <center><button type="submit" class="btn btn-primary">Add</button></center>
    </form>
  </div>

</body>
</html>